---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Årsrapport</h1>

  <div class="report">
    <div class="pdf-file"></div>
    <a class="pdf-file" href="pdf/MuseumsFonden_aarsrapport_2020.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2020
    </a>
    <div class="pdf-file"></div>
  </div>
  <!-- end of report -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <a class="pdf-file" href="pdf/MuseumsFonden_aarsrapport_2019.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2019
    </a>
    <div class="pdf-file"></div>
  </div>
  <!-- end of report -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>

    <a class="pdf-file" href="pdf/MuseumsFonden_aarsrapport_2018.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2018
    </a>

    <div class="pdf-file"></div>
  </div>
  <!-- end of report -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>

    <a class="pdf-file" href="pdf/Museumsfonden_2017_Komplet.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2017
    </a>

    <div class="pdf-file"></div>
  </div>
  <!-- end of report -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>

    <a class="pdf-file" href="pdf/MuseumsFonden_af_1966_aarsrapport_2016.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2016
    </a>

    <div class="pdf-file"></div>
  </div>
  <!-- end of report -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>

    <a class="pdf-file" href="pdf/Museumsfonden_ekstern_samlet_2015.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Årsrapport 2015
    </a>

    <div class="pdf-file"></div>
  </div>
</Layout>
