---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Bestyrelse</h1>
  <div class="board">
    <div class="board-member">
      <div class="name">Lars Henrik Munch</div>
      <div class="post">
        bestyrelses&shy;formand<br />
        (formand)
      </div>
    </div>

    <div class="board-member">
      <div class="name">Dorte Mandrup-Poulsen</div>
      <div class="post">
        arkitekt MAA<br />
        (næst&shy;formand)
      </div>
    </div>

    <div class="board-member">
      <div class="name">Michael Pram Rasmussen</div>
      <div class="post">bestyrelses&shy;formand</div>
    </div>

    <div class="board-member">
      <div class="name">Minik Thorleif Rosing</div>
      <div class="post">professor</div>
    </div>

    <div class="board-member">
      <div class="name">Inge Berneke</div>
      <div class="post">SVP, Corporate Affairs</div>
    </div>

    <div class="board-member">
      <div class="name">Anders Byriel</div>
      <div class="post">adm. direktør</div>
    </div>
  </div>

  <div class="ceo">
    <h2>Direktion</h2>
    <strong>Poul Erik Tøjner</strong><br />
    Museums&shy;direktør
  </div>
</Layout>
