---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Deponering</h1>

  <p>
    En række hovedværker i Louisianas samling er deponeringer fra Museumsfonden.
    Det drejer sig om værker af bl.a. Andy Warhol, Alexander Calder, Gerhard
    Richter, Yves Klein, Picasso og Miró.
  </p>

  <p>
    <a href="/pdf/Museumsfonden_deponeret_på_museet_2022.pdf">
      Museumsfondens værker deponeret på Louisiana
    </a>
  </p>

  <p>
    I henhold til formålet med Museumsfonden, som det fremgår af vedtægterne,
    kan der også deponeres værker i andre institutioner, der viser interesse for
    moderne kunst.
  </p>

  <p>
    Værker af en række danske kunstnere er således af Museumsfonden deponeret på
    museer rundt om i landet, f.eks. på Bornholms Kunstmuseum, Holstebro
    Kunstmuseum og Tønder Kunstmuseum.
  </p>

  <p>
    <a href="/pdf/Værker_deponeret_af_Museumsfonden_2022.pdf">
      Museumsfondens værker deponeret på andre danske kunstmuseer
    </a>
  </p>
</Layout>
