---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../../public/images/donation.jpg";
---

<Layout>
  <Image src={img} />

  <h1>Donation</h1>
</Layout>
