---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/donationer.jpg";
---

<Layout>
  <Image src={img} />

  <h1>Donationer</h1>
</Layout>
