---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Governance</h1>

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema_god_fondsledelse_MF_2021.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2021
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2020 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema_god_fondsledelse_MF_2020.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2020
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2020 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema_god_fondsledelse_MF_2019.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2019
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2019 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema_god_fondsledelse_MF_2018.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2018
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2018 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema_god_fondsledelse_MF_2017.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2017
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2017 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema god fondsledelse MF 2016.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2016
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
  <!-- end of GOD FONDSLEDELSE 2016 -->

  <br />

  <div class="report">
    <div class="pdf-file"></div>
    <div class="pdf-file">
      <a class="pdf-file" href="pdf/skema god fondsledelse MF 2015.pdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Lovpligtig redegørelse for god fondsledelse 2015
      </a>
    </div>
    <div class="pdf-file"></div>
  </div>
</Layout>
