---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Museums&shy;fonden</h1>
  <h2>af 7. december 1966</h2>
  <p>
    Museumsfonden af 7. december 1966 er oprindeligt indstiftet af Knud W.
    Jensen den 5. februar 1974.
  </p>
</Layout>
