---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl">Museums&shy;fonden af 7. december 1966</h1>
  <p>
    Museumsfonden af 7. december 1966 er oprindeligt indstiftet af Knud W.
    Jensen den 5. februar 1974.
  </p>
</Layout>
