---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Museums&shy;fonden af 7. december 1966</h1>

  <p>
    Museumsfonden af 7. december 1966 er er en erhvervsdrivende fond, hvis
    midler stammer fra ejerskabet af Gyldendal A/S samt afkast af fondens
    værdipapirportefølje.
  </p>

  <p>
    Formålet med fonden er at drive almennyttig kulturel virksomhed og at støtte
    sådan virksomhed, herunder at købe dansk og udenlandsk kunst, skabt indenfor
    de sidste 100 år før købet og skænke det til Louisiana Museum of Modern Art.
  </p>

  <p>
    Museumsfonden af 7. december 1966 er oprindeligt indstiftet af Louisianas
    grundlægger, Knud W. Jensen, den 5. februar 1974.
  </p>
</Layout>
