---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Vedtægter</h1>

  <p>
    Hvem kan ansøge fonden om støtte?<br />
    Museumsfonden kan ansøges i henhold til vedtægternes § 2.
  </p>
  <div class="statutes">
    <div class="pdf-file"></div>

    <a href="/pdf/Vedtægter_Museumsfonden.pdf">
      Vedtægter for Museums&shy;fonden
    </a>
  </div>
</Layout>
