---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Vedtægter</h1>
  <div class="statutes">
    <div class="pdf-file"></div>

    <a class="pdf-file" href="pdf/Vedtægter_Museumsfonden.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Vedtægter for Museums&shy;fonden
    </a>

    <div class="pdf-file"></div>
  </div>
</Layout>
