---
const currentPage = Astro.request.url.pathname;
const MENU = [
  { href: "/", name: "Forside" },
  { href: "/formaal", name: "Formål" },
  { href: "/vedtaegter", name: "Vedtægter" },
  { href: "/bestyrelse-direktion", name: "Bestyrelse / Direktion" },
  { href: "/aarsrapporter", name: "Årsrapporter" },
  { href: "/governance", name: "Governance" },
  { href: "/donation", name: "Donation" },
  { href: "/deponering", name: "Deponering" },
];
---

<aside
  class="col-span-12 sm:col-span-3 lg:col-span-2 text-body sm:text-menu"
  id="menu"
>
  <input type="checkbox" id="menuCheckbox" class="hidden" />
  <label
    for="menuCheckbox"
    class="sm:hidden absolute right-0 top-4 py-4 px-4 bg-bg"
  >
    <div class="w-5 h-[2px] mb-1 bg-black"></div>
    <div class="w-5 h-[2px] mb-1 bg-black"></div>
    <div class="w-5 h-[2px] bg-black"></div>
  </label>
  <nav
    class="bg-bg mt-4 px-4 py-4 border-b border-t border-grey sm:border-0 sm:mt-0 duration-300 mb-6"
    id="menuContainer"
  >
    <ul>
      {MENU.map(({ href, name }) => (
        <li>
          <a
            class={`hover:opacity-50 ${
              currentPage === href ? "underline" : ""
            }`}
            href={`${href}`}
          >
            {name}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</aside>

<script hoist type="module">
  const checkbox = document.getElementById("menuCheckbox");
  const container = document.getElementById("menuContainer");

  checkbox.addEventListener("change", function () {
    if (this.checked) {
      container.classList.add("opened");
    } else {
      container.classList.remove("opened");
    }
  });
</script>

<style>
  @media (max-width: 767px) {
    nav {
      margin-top: -100%;
      transition-property: margin-top;
    }
    nav.opened {
      margin-top: 0;
    }
  }
</style>
