---
import styles from "../styles/global.css";
---

<!DOCTYPE html>
<html lang="da-DK">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museumsfonden af 7. december 1966</title>
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css"
    />
    <style set:html={styles}>

    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
