---
const currentPage = Astro.request.url.pathname;

const MENU = [
  { href: "/", name: "Forside" },
  { href: "/formaal", name: "Formål" },
  { href: "/vedtaegter", name: "Vedtægter" },
  { href: "/bestyrelse-direktion", name: "Bestyrelse / Direktion" },
  { href: "/aarsrapporter", name: "Årsrapporter" },
  { href: "/governance", name: "Governance" },
  { href: "/donation", name: "Donation" },
  { href: "/deponering", name: "Deponering" },
];
---

<!DOCTYPE html>
<html lang="da-DK">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museumsfonden af 7. december 1966</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <div class="container sm:mx-auto sm:grid grid-cols-12 gap-6">
      <h3 class="col-start-5 col-span-8 sm:mt-6 text-title">Museumsfonden</h3>
      <aside class="col-span-4 row-start-2 text-menu">
        <nav>
          <ul>
            {MENU.map(({ href, name }) => (
              <li>
                <a
                  class={`hover:opacity-50 ${
                    currentPage === href ? "underline" : ""
                  }`}
                  href={`${href}`}
                >
                  {name}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      </aside>
      <main class="col-start-5 col-span-8 space-y-6">
        <slot />
      </main>
    </div>
  </body>
</html>
