---
import styles from "../styles/global.css";
---

<!DOCTYPE html>
<html lang="da-DK">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museumsfonden af 7. december 1966</title>
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css"
    />
    <style set:html={styles}>

    </style>
  </head>
  <body class="container mx-auto">
    <aside>
      <a href="/">Forside</a>
      <a href="/formaal">Formål</a>
      <a href="/vedtaegter">Vedtægter</a>
      <a href="/bestyrelse-direktion">Bestyrelse / Direktion</a>
      <a href="/aarsrapporter">Årsrapporter</a>
      <a href="/governance">Governance</a>
      <a href="/donation">Donation</a>
      <a href="/deponering">Deponering</a>
    </aside>
    <slot />
  </body>
</html>
